* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  max-width: 1320px;
  margin: 0 auto;
}
body {
  margin: 20px;
  color: white;
}

.wrapper-1,
.wrapper-2,
.wrapper-3,
.wrapper-4 {
  display: grid;
  position: relative;
}

.wrapper-1 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 172px 800px 800px;
  grid-template-areas:
    "h h"
    "al1 al2"
    "al3 al4";
}

.main-header {
  grid-area: h;
  background: #dfe6e9;
}

.latest-articles {
  border: 1px solid #555;
  background: #636e72;
}

.tagline {
  position: absolute;
  top: 220px;
  width: 100%;
}
.tagline .p1,
.p2 {
  font-size: 24px;
  background-color: #2d3436;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

.tagline .p1 {
  width: 300px;
  padding: 20px;
}

.tagline .p2 {
  width: 125px;
  padding: 10px;
}

.wrapper-2 {
  grid-template: repeat(3, 650px) / repeat(4, 1fr);
  grid-template-areas:
    "ca1 ca2 ca3 ad"
    "bn bn ca4 ca5"
    "ca6 . . .";
}

.content-old {
  background-color: #555;
  border: 1px solid #222;
}
.content-old h2 {
  font-size: 2em;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  padding: 15px;
}
.content-old p {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  padding: 15px;
}
.ad-div {
  grid-area: ad;
  background-color: #b2bec3;
}
.banner {
  grid-area: bn;
  background-color: #636e72;
}

.wrapper-3 {
  grid-template: 800px 300px 300px 300px 300px / repeat(2, 1fr);
  grid-template-areas:
    "ny ny"
    "pw pw"
    "ap1 ap2"
    "ap3 ap4"
    "ap5 ap6";
}
.new-york {
  grid-area: ny;
  background-color: #b2bec3;
}
.person-of-week {
  grid-area: pw;
  background-color: #636e72;
}
.author-profile {
  background-color: #b2bec3;
  border: 1px solid #636e72;
}

.wrapper-4 {
  grid-template: 420px 750px 1032px 100px 760px / repeat(4, 1fr);
  grid-template-areas:
    "ds ds ds ds"
    "nb1 nb2 nb3 nb4"
    "n n n n"
    "sa sa sa sa"
    "f f f f";
}
